# Build directories
/build/
/out/
/bin/
/lib/
/install/
/cmake-build*/

# Backup files
/backup*/
!backup_20250424_211311/
!backup_20250424_215614/

# CMake files
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
compile_commands.json
CTestTestfile.cmake
_deps/
*.cmake
!CMakeLists.txt

# Logs
/logs/
*.log

# Object files and libraries
*.o
*.ko
*.obj
*.elf
*.so
*.so.*
*.dylib
*.dll
*.a
*.la
*.lo
*.lib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Editor files
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
